body {
  font-family: pingfang sc;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex_1 {
  flex: 1;
}

.contentWidth {
  width: 1150px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.first_title {
  font-size: 22px;
  text-align: left;
  padding: 16px 0;
  font-weight: bold;
}
.line_2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  width: 200px;
}
.search_box{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  font-size: 14px;
}